/* ---------- FONTS ---------- */

* {
    font-family: 'Lato', Roboto, sans-serif;
}

h2 {
    margin-bottom:20px;
}

p {
    margin: 0 0 20px;
}


/* ---------- Structure ---------- */

.section {
    padding: 50px 0;
}

.section .section {
    padding: 30px 0;
}

/* ---------- JUMBOTRON ---------- */

.jumbotron {
    margin-bottom: 0;
}

.jumbotron-image {
    position: relative;
    background-image: url('../images/banner_image.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    width: 100%;
    height: 100px;
}

/* ---------- NAVBAR ---------- */
.navbar-light .navbar-brand {
    color:#101f3c;
}

.navbar-brand {
    margin-right:30px;
}

.navbar-light .navbar-nav .nav-link {
    color:rgba(16, 31, 60, .8);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:rgba(16, 31, 60, 1);
}

.navbar-light .navbar-nav .nav-link.active {
    color:rgba(16, 31, 60, 1);
    font-weight: bold;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}

/* ---------- MAIN CONTAINER ---------- */

p a {
    color:#3544b1;
}

p a:hover, p a:focus {
    color: rgba(53, 68, 177, 0.8);
}

.grey-bg {
    background-color:#F9F7F4;
}

.orange-bg {
    background-color: rgba(247, 156, 55, .8);
    color: white;
}

/* ---------- STYLE FOR GRID EDITOR ---------- */

.grid-section .img-fluid img {
    max-width: 100%;
    height: auto;
}